<header id="home-section" class="mb-4">
    <div class="dark-overlay">
        <div class="home-inner container">
            <div class="row">
                <div class="col-lg-8 d-none d-lg-block mt-5">
                    <h1 class="display-4 text-light">
                        Start writing your <strong>first blog</strong> and <strong>publish</strong>
                    </h1>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-light"></i>
                        </div>
                        <div class="p-4 align-self-end text-light">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, dolores inventore.
                            Sed itaque laborum tenetur facere esse ex quae dignissimos dicta a at maiores, fugiat iste nisi veniam perferendis nam.
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-light"></i>
                        </div>
                        <div class="p-4 align-self-end text-light">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit.
                           Ratione harum asperiores aut, eligendi modi reiciendis quam officia obcaecati exercitationem tempora! 
                           Esse consequatur qui dolorum quasi hic nulla sint nihil eligendi?
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-light"></i>
                        </div>
                        <div class="p-4 align-self-end text-light">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Omnis ut necessitatibus reiciendis inventore aspernatur totam natus nemo, odit sed hic maiores neque quisquam.
                             Dignissimos sint, reprehenderit obcaecati quis velit beatae.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-5">
                    <div class="card bg-muted text-center card-form">
                        <div class="card-body">
                            
                            <app-register></app-register>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<app-famous-blogs></app-famous-blogs>
